[submodule "raspberrypi/tools"]
	path = raspberrypi/tools
	url = https://github.com/raspberrypi/tools.git
[submodule "thirdparty/libmodbus"]
	path = thirdparty/libmodbus
	url = https://github.com/stephane/libmodbus.git
[submodule "mbpoll"]
	path = mbpoll
	url = https://github.com/epsilonrt/mbpoll
